.button:hover {
    -fx-text-fill: white;
}

.button, .label {
    -fx-font-size: 150%;
}

.custom-dashed-border {
    -fx-border-color: red;
    -fx-border-width: 3;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round;
}

.root {
    -fx-background-color: transparent;

    -fx-accent: #7d5555;
    -fx-focus-color: -fx-accent;
    -fx-base: #6f6f6f;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}
